In [134]:
#Importing libraries
import numpy as np
import pandas as pd
from datetime import datetime

In [136]:
#loading data
data=pd.read_csv('train.csv')

In [121]:
data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

A)Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.

In [122]:
missing_percent = data.isnull().mean() * 100
print("Percentage of missing values in each column:")
print(missing_percent)

Percentage of missing values in each column:
Unnamed: 0            0.000000
Name                  0.000000
Location              0.000000
Year                  0.000000
Kilometers_Driven     0.000000
Fuel_Type             0.000000
Transmission          0.000000
Owner_Type            0.000000
Mileage               0.034206
Engine                0.615700
Power                 0.615700
Seats                 0.649906
New_Price            86.061228
Price                 0.000000
dtype: float64

In [123]:
# Define functions for cleaning numeric columns and performing imputation
def clean_and_convert(column):
    # Remove non-numeric characters and convert to float
    data[column] = data[column].replace('[^0-9.]', '', regex=True).astype(float)

def impute_mean(column):
    data[column] = data[column].fillna(data[column].mean())

# Clean and convert columns with units to numeric format
clean_and_convert('Mileage')
clean_and_convert('Engine')
clean_and_convert('Power')
clean_and_convert('Seats')  # This might not need cleaning, but converting to float just in case

# Apply mean imputation
impute_mean('Mileage')
impute_mean('Engine')
impute_mean('Power')
impute_mean('Seats')

# Drop the New_Price column due to high percentage of missing values
data = data.drop('New_Price', axis=1)

# Check final missing values
print("Missing values after processing:")
print(data.isnull().sum())

Missing values after processing:
Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

#Explination:
Imputation (Mean): For Mileage, Engine, Power, and Seats, the missing value percentages are very low (all under 1%), so mean imputation maintains data integrity without introducing bias.

Drop (New_Price): With over 86% missing values, New_Price doesn’t provide enough information to retain it in the analysis.

**B)**Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [124]:
# Function to clean units and keep only numeric values
def clean_units(column):
    # Use regex to remove any non-numeric characters
    data[column] = data[column].replace('[^0-9.]', '', regex=True).astype(float)

# Apply the cleaning function to the specified columns
clean_units('Mileage')
clean_units('Engine')
clean_units('Power')

# Verify the result
print(data[['Mileage', 'Engine', 'Power']].head())

   Mileage  Engine   Power
0    19.67  1582.0  126.20
1    13.00  1199.0   88.70
2    20.77  1248.0   88.76
3    15.20  1968.0  140.80
4    23.08  1461.0   63.10

C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value.

In [125]:
# Apply one-hot encoding to the 'Fuel_Type' and 'Transmission' columns
data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'], drop_first=False)

# Verify the result
print(data.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
1              46000      First    13.00  1199.0   88.70    5.0   4.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
4              86999      First    23.08  1461.0   63.10    5.0   3.50

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0              True               False             False
1             False               False              True
2              True               False             False
3              True               False             False
4              True               False             False

   Transmission_Automatic  Transmission_Manual
0                   False                 True
1                   False                 True
2                   False                 True
3                    True                False
4                   False                 True

D)Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [126]:
# Get the current year
current_year = datetime.now().year

# Calculate the age of the car and add it as a new column
data['Car_Age'] = current_year - data['Year']

# Verify the result
print(data[['Year', 'Car_Age']].head())

   Year  Car_Age
0  2015        9
1  2011       13
2  2012       12
3  2013       11
4  2013       11

E) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [127]:
# Select only the columns 'Name', 'Year', 'Kilometers_Driven', and 'Price'
selected_data = data[['Name', 'Year', 'Kilometers_Driven', 'Price']]
print("Selected Columns:\n", selected_data.head())

Selected Columns:
                                Name  Year  Kilometers_Driven  Price
0  Hyundai Creta 1.6 CRDi SX Option  2015              41000  12.50
1                      Honda Jazz V  2011              46000   4.50
2                 Maruti Ertiga VDI  2012              87000   6.00
3   Audi A4 New 2.0 TDI Multitronic  2013              40670  17.74
4            Nissan Micra Diesel XV  2013              86999   3.50

In [128]:
# Filter rows where Price is greater than 5 lakhs and the car is Diesel
filtered_data = data[(data['Price'] > 5) & (data['Fuel_Type_Diesel'] == 1)]

print("Filtered Data:\n", filtered_data.head())

Filtered Data:
    Unnamed: 0                                 Name    Location  Year  \
0           1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2           3                    Maruti Ertiga VDI     Chennai  2012
3           4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
5           7    Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
6           8  Volkswagen Vento Diesel Comfortline        Pune  2013

   Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  Price  \
0              41000      First    19.67  1582.0  126.20    5.0  12.50
2              87000      First    20.77  1248.0   88.76    7.0   6.00
3              40670     Second    15.20  1968.0  140.80    5.0  17.74
5              36000      First    11.36  2755.0  171.50    8.0  17.50
6              64430      First    20.54  1598.0  103.60    5.0   5.20

   Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
0              True               False             False
2              True               False             False
3              True               False             False
5              True               False             False
6              True               False             False

   Transmission_Automatic  Transmission_Manual  Car_Age
0                   False                 True        9
2                   False                 True       12
3                    True                False       11
5                    True                False        8
6                   False                 True       11

In [129]:
# Rename the column 'Kilometers_Driven' to 'KM_Driven'
renamed_data = data.rename(columns={'Kilometers_Driven': 'KM_Driven'})
print("Renamed Data:\n", renamed_data.head())

Renamed Data:
    Unnamed: 0                              Name    Location  Year  KM_Driven  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015      41000
1           2                      Honda Jazz V     Chennai  2011      46000
2           3                 Maruti Ertiga VDI     Chennai  2012      87000
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013      40670
4           6            Nissan Micra Diesel XV      Jaipur  2013      86999

  Owner_Type  Mileage  Engine   Power  Seats  Price  Fuel_Type_Diesel  \
0      First    19.67  1582.0  126.20    5.0  12.50              True
1      First    13.00  1199.0   88.70    5.0   4.50             False
2      First    20.77  1248.0   88.76    7.0   6.00              True
3     Second    15.20  1968.0  140.80    5.0  17.74              True
4      First    23.08  1461.0   63.10    5.0   3.50              True

   Fuel_Type_Electric  Fuel_Type_Petrol  Transmission_Automatic  \
0               False             False                   False
1               False              True                   False
2               False             False                   False
3               False             False                    True
4               False             False                   False

   Transmission_Manual  Car_Age
0                 True        9
1                 True       13
2                 True       12
3                False       11
4                 True       11

In R, mutate() is used to create new columns. In Pandas, you can directly create a new column.

In [130]:
# Create a new column 'Car_Age' based on the 'Year' column
data['Car_Age'] = current_year - data['Year']
print("Data with Car_Age:\n", data[['Year', 'Car_Age']].head())

Data with Car_Age:
    Year  Car_Age
0  2015        9
1  2011       13
2  2012       12
3  2013       11
4  2013       11

In R, arrange() is used for sorting. In Pandas, you can use sort_values().

In [131]:
# Sort the data by 'Price' in descending order
arranged_data = data.sort_values(by='Price', ascending=False)
print("Arranged Data (sorted by Price):\n", arranged_data.head())

Arranged Data (sorted by Price):
       Unnamed: 0                                         Name    Location  \
3952        4079  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad
5620        5781                   Lamborghini Gallardo Coupe       Delhi
5752        5919                       Jaguar F Type 5.0 V8 S   Hyderabad
1457        1505              Land Rover Range Rover Sport SE       Kochi
1917        1974                           BMW 7 Series 740Li  Coimbatore

      Year  Kilometers_Driven Owner_Type  Mileage  Engine  Power  Seats  \
3952  2017              25000      First    13.33  2993.0  255.0    5.0
5620  2011               6500      Third     6.40  5204.0  560.0    2.0
5752  2015               8000      First    12.50  5000.0  488.1    2.0
1457  2019              26013      First    12.65  2993.0  255.0    5.0
1917  2018              28060      First    12.05  2979.0  320.0    5.0

       Price  Fuel_Type_Diesel  Fuel_Type_Electric  Fuel_Type_Petrol  \
3952  160.00              True               False             False
5620  120.00             False               False              True
5752  100.00             False               False              True
1457   97.07              True               False             False
1917   93.67             False               False              True

      Transmission_Automatic  Transmission_Manual  Car_Age
3952                    True                False        7
5620                    True                False       13
5752                    True                False        9
1457                    True                False        5
1917                    True                False        6

In R, group_by() and summarize() are used together to aggregate data. In Pandas, you can use groupby() with aggregation functions like mean().

In [132]:
# Group by 'Fuel_Type' and calculate the average 'Price' and total 'Kilometers_Driven'
summary_data = data.groupby('Fuel_Type_Diesel').agg({
    'Price': 'mean',
    'Kilometers_Driven': 'sum'
}).reset_index()

# Rename aggregated columns for clarity
summary_data = summary_data.rename(columns={'Price': 'Avg_Price', 'Kilometers_Driven': 'Total_KM_Driven'})
print("Summarized Data (grouped by Fuel_Type):\n", summary_data)

Summarized Data (grouped by Fuel_Type):
    Fuel_Type_Diesel  Avg_Price  Total_KM_Driven
0             False   5.761988        128269656
1              True  12.960686        213254401